<!-- dashboard.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
        <h1 class="mb-4">Доступные файлы</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">
                    {{ file.path }}
                    <a href="{{ url_for('download_file', filename=file.path) }}" class="btn btn-primary btn-sm ml-2">Скачать</a>
                </li>
            {% else %}
                <li class="list-group-item">Нет доступных файлов</li>
            {% endfor %}
        </ul>
    <div class="mt-4">
        <a href="{{ logout_link }}" class="btn btn-danger">Выйти</a>
        <a href="{{ two_factor_authentication_link }}" class="{% if user_two_factor %}btn btn-second disabled{% else %}btn btn-success{% endif %}">Двухфакторная аутентификация</a>
    </div>
    </div>
 <hr class="mt-5">
  <div class="container">
    <h1>Web-приложение</h1>
    <div class="form-group">
      <label for="message">Сообщение:</label>
      <input type="text" class="form-control" id="message" placeholder="Введите сообщение">
    </div>
    <button type="button" class="btn btn-primary" onclick="sendMessage()">Передать сообщение</button>
  </div>

  <script>
    function sendMessage() {
      var message = document.getElementById("message").value;
      var form = document.createElement("form");
      form.method = "POST";
      form.action = "/session{{ session_number }}/resultmessage";
      form.target = "_blank";

      var input = document.createElement("input");
      input.type = "hidden";
      input.name = "message";
      input.value = message;

      form.appendChild(input);
      document.body.appendChild(form);
      form.submit();
    }

  </script>

{% endblock %}