{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ace.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}">

    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-md-8">

                <div id="question-area">
                    <!-- Вопросы будут добавлены сюда динамически -->
                </div>
                <div id="progress-bar" class="mt-4 mb-4">
                    <!-- Показатель прогресса будет добавлен сюда динамически -->
                </div>
                <form id="quiz-form">
                    <div class="mb-3">
                        <label for="answer" class="form-label">Поисковый запрос. Какие деревья вы ищите?</label>
                        <input type="text" class="form-control" id="answer" required value="{{ value_answer }}">
                    </div>
                    <div class="mb-3">
                        <label for="editor" class="form-label">Это запрос к Базе данных.</label>
                        <!-- Замена input элемента на div для ACE Editor -->
                        <div id="editor" style="height: 200px;">ВЫБЕРИ Тип, Съедобное, Плод, Урожай, Год
ИзХранилища Деревья
ГДЕ Тип = '[ТЕКСТ_ЗАПРОСА]';</div>

                    </div>
                    <div class="mt-4">
                        <button id="submit-answer-btn" type="submit" class="btn btn-primary btn-lg">Проверить</button>
                        <button id="reset_db" type="button" class="btn btn-warning btn-lg">Обновить значения Базы данных</button>
                    </div>
                    <div id="feedback" class="mt-3"></div>
                    <div id="reference" class="mt-3"></div>
                </form>
                <div class="mt-4">
                    <a href="{{ logout_link }}" class="btn btn-danger">Выйти</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-mysql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-text.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-github.js"></script>

<script>
    // Загрузите необходимые модули
    var oop = ace.require("ace/lib/oop");
    var MysqlHighlightRules = ace.require("ace/mode/mysql_highlight_rules").MysqlHighlightRules;
    var TextMode = ace.require("ace/mode/text").Mode;

    // Создайте кастомные правила подсветки на основе правил MySQL
    function CustomHighlightRules() {
        MysqlHighlightRules.call(this);

        // Ваши кастомные ключевые слова
        var customKeywords = "выбери|где|значение|изхранилища|обновить|положив|удалить|установить|ВЫБЕРИ|ГДЕ|ЗНАЧЕНИЕ|ИзХранилища|ОБНОВИТЬ|ПоложиВ|УДАЛИТЬ|УСТАНОВИТЬ";

        // Создайте новое правило для кастомных ключевых слов
        var customRule = {
            token: "keyword",
            regex: customKeywords
        };

        // Добавить кастомное правило в начало массива правил
        this.$rules.start.unshift(customRule);
    }

    oop.inherits(CustomHighlightRules, MysqlHighlightRules);

    // Создайте кастомный режим на основе режима MySQL
    function CustomMode() {
        TextMode.call(this);
        this.HighlightRules = CustomHighlightRules;
    }

    oop.inherits(CustomMode, TextMode);

    // Устанавливаем режим для редактора
    var editor = ace.edit("editor");
    editor.session.setMode(new CustomMode());
    editor.setTheme("ace/theme/github");
    editor.setReadOnly(true);




    var questions = {{ questions|tojson }}; // Это список вопросов
    var currentQuestionIndex = 0; // Это индекс текущего вопроса в массиве вопросов
    function EndTest() {
        $('#quiz-form').hide();
        $('#progress-bar').hide();

        // Показываем уведомление в #question-area
        $('#question-area').html(
            '<div class="alert alert-success" role="alert">' +
                '<h4 class="alert-heading">Поздравляем!</h4>' +
                '<p>Вы Вы спасли нашу Базу данных!</p>' +
                '<hr>' +
                '<p class="mb-0">Артур поздравляет вас, Вы исправили значительные ошибки в наших запросах к базе данных<br/>Вы супер-Молодец.<br/>На этом наши задания завершаются.</p>' +
            '</div>'
        );
    }

    function loadQuestion() {
        // Загрузка вопроса
        if (currentQuestionIndex < 2) {
            if(currentQuestionIndex == 1){
                editor.setReadOnly(false);
                var inputField = document.getElementById("answer");
                // Если поле ввода уже заблокировано, разблокируем его. Иначе блокируем.
                inputField.readOnly = true;
            }
            var currentQuestion = questions[currentQuestionIndex];
            $('#question-area').html(currentQuestion.text);
            updateProgressBar();
            }
        else {
            // Иначе все вопросы уже отвечены, скрываем форму и бейджи вопросов
            EndTest();

        }
    }

    function updateProgressBar() {
        var progressBar = '';
        for (var i = 0; i < questions.length; i++) {
            var btnClass = i < currentQuestionIndex ? 'btn-success' : i == currentQuestionIndex ? 'btn-primary' : 'btn-secondary';
            progressBar += '<button type="button" class="btn ' + btnClass + ' mr-1" data-toggle="tooltip" data-placement="top" title="Номер вопроса">' + (i + 1) + '</button>';
        }
        $('#progress-bar').html(progressBar);
    }

    function submitAnswer() {
        // Проверка ответа
        $('#quiz-form').submit(function(e) {
            e.preventDefault();
            var startButton = document.getElementById("submit-answer-btn");
            startButton.disabled = true;
            startButton.innerHTML = '<span class="spinner-grow" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></span> Проверяем...';
            var answer = editor.getValue()+'@@!!@@AD@@!!@@'+$('#answer').val();
            var questionId = questions[currentQuestionIndex].id;
            $.ajax({
                url: '{{ url_for('check_answer') }}',
                type: 'POST',
                data: {
                    'question_id': questionId,
                    'answer': answer
                },
                success: function(response) {
                    var alertClass = response.correct ? 'success' : 'danger';
                    var alertMessage = response.correct ? 'Правильный ответ!' : 'Неправильный ответ. Попробуйте еще раз.';
                    startButton.disabled = false;
                    startButton.innerHTML = 'Проверить';
                    $('#feedback').html(
                        '<div id ="question_alert" class="alert alert-' + alertClass + ' alert-dismissible fade show" role="alert">' +
                            alertMessage +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                        '</div>'
                    );
                    if (response.correct) {
                        $("#responseTable_student_answer").remove(); // Удалить таблицу с ответами
                        $("#responseTable_reference_answer").remove();
                        currentQuestionIndex++; // Переходим к следующему вопросу

                        // Закрыть уведомление через 2 секунды
                        window.setTimeout(function() {
                            $("#question_alert").fadeTo(500, 0).slideUp(500, function(){
                                $(this).remove();
                            });
                        }, 2000);

                        loadQuestion();
                    }
                    else {
                        // Создать таблицу с данными
                        $("#responseTable_student_answer").remove(); // Сначала удалить пердыдущую
                        $("#responseTable_reference_answer").remove(); // Сначала удалить пердыдущую

                        var tableHtml_reference_answer = '<table id="responseTable_reference_answer" class="table table-bordered table-striped table-sm"><caption>Результат эталонного запроса:</caption>';
                        tableHtml_reference_answer += '<tbody>';
                        for (var i = 0; i < response.reference_answer.length; i++) {
                            var item = response.reference_answer[i];
                            tableHtml_reference_answer += '<tr>';
                            for (var j = 0; j < item.length; j++) {
                                tableHtml_reference_answer += '<td>' + item[j] + '</td>';
                            }
                            tableHtml_reference_answer += '</tr>';
                        }
                        tableHtml_reference_answer += '</tbody></table>';

                        var tableHtml_student_answer = '<table id="responseTable_student_answer" class="table table-bordered table-striped table-sm"><caption>Результат Вашего запроса:</caption>';
                        tableHtml_student_answer += '<tbody>';
                        for (var i = 0; i < response.student_answer.length; i++) {
                            var item = response.student_answer[i];
                            tableHtml_student_answer += '<tr>';
                            for (var j = 0; j < item.length; j++) {
                                tableHtml_student_answer += '<td>' + item[j] + '</td>';
                            }
                            tableHtml_student_answer += '</tr>';
                        }
                        tableHtml_student_answer += '</tbody></table>';

                        // Вставить таблицу после кнопки Сообщения "Фидбек"
                        $('#feedback').after(tableHtml_student_answer);
                        $('#reference').after(tableHtml_reference_answer);


                        // Закрыть уведомление через 2 секунды
                        window.setTimeout(function() {
                            $("#question_alert").fadeTo(500, 0).slideUp(500, function(){
                                $(this).remove();
                            });
                        }, 2000);
                    }
                }
            });
        });
        $('#reset_db').click(function(e) {
            e.preventDefault(); // Предотвратить стандартное поведение кнопки/формы
            var startButton = document.getElementById("reset_db");
            startButton.disabled = true;
            startButton.innerHTML = '<span class="spinner-grow" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></span> Обновляем...';
            $.ajax({
                url: '{{ url_for('reset_database') }}',
                type: 'POST',
                success: function(response) {
                    startButton.disabled = false;
                    startButton.innerHTML = 'Обновить значения Базы данных';
                    var alertClass = response.dbupdate ? 'warning' : 'info';
                    var alertMessage = response.dbupdate ? 'База данных обновлена!' : 'Что-то пошло не так. Возможно даже сломалось. Попробуйте еще раз!';
                    var alertMessage = 'База данных обновлена!';
                    $('#feedback').html(
                        '<div id ="question_alert" class="alert alert-' + alertClass + ' alert-dismissible fade show" role="alert">' +
                            alertMessage +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                        '</div>'
                    );
                     // Закрыть уведомление через 2 секунды
                    window.setTimeout(function() {
                        $("#question_alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove();
                        });
                    }, 2000);
                }
            });
        });
    }


    $(document).ready(function() {
    // AJAX запрос к серверу при загрузке страницы
    $.ajax({
        url: '{{ url_for('get_user_answers') }}',  // Маршрут на сервере, который возвращает текущие значения `a`
        type: 'GET',
        success: function(response) {
            // Обновление currentQuestionIndex, чтобы он указывал на первый вопрос, у которого `a` равно `False`
            var answers = [response.a6, response.a7];
            currentQuestionIndex = answers.findIndex(function(a) {
                return a === false;
            });

            if (currentQuestionIndex !== -1) {
                loadQuestion();
            } else {
               // Иначе все вопросы уже отвечены, скрываем форму и бейджи вопросов
                EndTest();
            }
        }
    });
        submitAnswer();
    });
</script>
{% endblock %}
