<!-- session_login.html -->

{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h2>Что-то пошло не так!. Вам нужно перейти на страницу тренировки...</h2> <a href="" class="btn btn-primary mt-3">Страница тренировки sessionN/login</a>
        <h3>Где <b>N</b> уникальный номер тренировочной сессии</h3>
        <h3>Ну или перейдите по ссылке данной учителем вида https://g2u.run/----</h3>
        <p>Где <b>----</b> уникальный идентификатор вашей сессии</p>
    </div>

{% endblock %}
