<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Проверка Хеша ответа</h5>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="loader">Гружусь</div>
        </div>
      </div>
    </div>
  </div>
</div>