<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Урок 2.1.2</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--script src="{{ url_for('static', filename='js/script.js') }}"></script -->
    <!-- Bootstrap CSS -->

</head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body class="d-flex flex-column h-100">

  <!--Toast сообщение -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toastMessage" style="position: fixed; top: 20%; right: 50%; transform: translate(50%, -50%); z-index: 9999;">
    <div id="toast-header" role="alert">
      <strong id="toastheader">Сообщение</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="toast-body">
    </div>
  </div>
<main role="main" class="flex-shrink-0">
    {% block content %}
    {% endblock %}
</main>
    <footer class="footer bg-light position-sticky" style="position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;">
        <div class="container">
            <span class="text-muted" style="font-size: 9pt; text-align: right; display: block;"><a target="_blank" href="https://github.com/chetTEst/CyberSecuLab">Создано Четверовым А.В.. Распространяется по лицензии Apache 2.0</a></span>
        </div>
    </footer>
</body>
</body>
</html>
