<!-- dashboard.html -->

{% extends 'baseToast.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Настройки Брендмауэра</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Номер порта</th>
                <th scope="col">Выбрать действие</th>
                <th scope="col">Что это за порт?</th>
            </tr>
        </thead>
        <tbody>
            {% for port in ports %}
                <tr data-is-virus="{{ port.isDanger }}" data-is-answer="{{ port.isAnswer }}"  data-enabled="">
                    <td><h5><span class="badge badge-pill badge-danger" id="port-{{ loop.index }}">{{ port.number }}</span></h5></td>
                    <td>
                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выбрать действие
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item btn-success" href="#" onclick="enablePort({{ loop.index }}); return false;">Разрешить</a>
                            <a class="dropdown-item btn-danger" href="#" onclick="disablePort({{ loop.index }}); return false;">Запретить</a>
                          </div>
                        </div>
                    </td>
                    <td><a tabindex="0" class="btn btn-info" role="button" data-toggle="popover" data-trigger="focus" title="{{ port.number }}" data-content="{{ port.about }}">Информация</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Нет доступных Портов</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  $(function () {
   $('[data-toggle="popover"]').popover({trigger: 'focus'})
  })

  function enablePort(number){
  var row = document.getElementById("port-" + number).parentNode.parentNode.parentNode;
  row.setAttribute("data-enabled", "false");
  $("#port-"+number).removeClass('badge-danger badge-secondary').addClass('badge-success');
  }

  function disablePort(number){
  var row = document.getElementById("port-" + number).parentNode.parentNode.parentNode;
  row.setAttribute("data-enabled", "true");
  $("#port-"+number).removeClass('badge-success badge-secondary').addClass('badge-danger');
  }

    function checkAnswers() {
        var allCorrect = true;
        $('tr[data-is-virus]').each(function() {
            var isVirus = $(this).attr('data-is-virus') === 'True';
            var isChecked = $(this).attr('data-enabled') === 'true';
            var isAnswer = $(this).attr('data-is-answer') === 'False';
            if (isVirus !== isChecked && isAnswer) {
                allCorrect = false;
                return false;  // break the loop
            }
        });

        if (allCorrect) {
            $.ajax({
                url: "/check_answer",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ answer: 'a1', user_id: '{{ user_id }}', }),
                dataType: 'json'
            });
        }
    }
</script>




{% endblock %}
