<!DOCTYPE html>
<html lang="ru">
<head>
    <title>CTF Data</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap_4.5.0_css_bootstrap.min.css') }}" rel="stylesheet">
</head>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap_4.5.0_js_bootstrap.min.js') }}"></script>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
